
<div class="loader-bg">
    <div class="loader-bar">
    </div>
</div>
{{#if isAuthenticated}}
<div class="wrapper">
   
    <!-- Navbar - side bar-->
    {{> navbar}}
    <!-- Sidebar chat end-->

    <div class="content-wrapper">

        <!-- Container-fluid starts -->
        <!-- Main content starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="main-header">
                    <h4>Dashboard</h4>
                </div>
            </div>
            <!-- 4-blocks row start -->
            <div class="row m-b-30 dashboard-header">
                
                <div class="col-lg-3 col-sm-6">
                    <div class="col-sm-12 card dashboard-product">
                        <span>Posts</span>
                        <h2 class="dashboard-total-products counter">200</h2>
                        <span class="label label-warning">POST</span>All Posts
                        <div class="side-box bg-warning">
                            <i class="icon-social-soundcloud"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="col-sm-12 card dashboard-product">
                        <span>Pages</span>
                        <h2 class="dashboard-total-products counter">30</h2>
                        <span class="label label-primary">PAGES</span>Total Pages
                        <div class="side-box bg-primary">
                            <i class="icon-social-soundcloud"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="col-sm-12 card dashboard-product">
                        <span>Comments</span>
                        <h2 class="dashboard-total-products"><span class="counter">500</span></h2>
                        <span class="label label-success">COMMENTS</span>Total Comments
                        <div class="side-box bg-success">
                            <i class="icon-bubbles"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="col-sm-12 card dashboard-product">
                        <span>Views</span>
                        <h2 class="dashboard-total-products">$<span class="counter">3080</span></h2>
                        <span class="label label-danger">VIEWS</span>Views Today
                        <div class="side-box bg-danger">
                            <i class="icon-user"></i>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 4-blocks row end -->
            <!-- 1-3-block row start -->
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="row m-b-10 dashboard-total-income">
                                <div class="col-sm-6 text-left">
                                    <div class="counter-txt">
                                        <h6>Total Income</h6>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <i class="icofont icofont-link-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-block row">
                            <div class="col-sm-12">
                                <div id="areachart"></div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6 income-per-day">
                                    <p>Today</p>
                                    
                                    <h6 class="counter">67</h6>
                                </div>
                                <div class="col-sm-3 col-xs-6 income-per-day">
                                    <p>Last Week</p>
                                    
                                    <h6 class="counter">200</h6>
                                </div>
                                <div class="col-sm-3 col-xs-6 income-per-day">
                                    <p>Total Subscribers</p>
                                    
                                    <h6 class="counter">65</h6>
                                </div>
                                <div class="col-sm-3 col-xs-6 income-per-day">
                                    <p>Total Income</p>
                                    
                                    <h6 class="counter">312</h6>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="bg-danger dashboard-resource">
                            <div class="card-block">
                                <h5 class="counter">20.85</h5>%
                                <h5 class="resource-used">Resource Used</h5>
                            </div>
                            <div class="card-block">
                                <span class="resource-barchart"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="bg-warning dashboard-resource m-t-5">
                            <div class="card-block">
                                <h5 class="counter">20.85</h5>%
                                <h5 class="resource-used">Resource Used</h5>
                            </div>
                            <div class="card-block">
                                <span class="resource-barchart"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 1-3-block row end -->

            <!-- 3-1-block start -->
         
            <!-- 3-1-block end -->

            <!-- 2-1 block start -->
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table m-b-0 photo-table">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th>USER</th>
                                            <th>Project</th>
                                            <th>Completed</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>
                                                <img class="img-fluid img-circle" src="/assets/images/avatar-2.png"
                                                    alt="User">
                                            </th>
                                            <td>Editing post in Business Category
                                                <p><i class="icofont icofont-clock-time"></i>Created 14.9.2016</p>
                                            </td>
                                            <td>
                                                <span class="pie" style="display: none;">226,134</span><svg
                                                    class="peity" height="30" width="30">
                                                    <path
                                                        d="M 15.000000000000002 0 A 15 15 0 1 1 4.209902994920235 25.41987555688496 L 15 15"
                                                        fill="#2196F3"></path>
                                                    <path
                                                        d="M 4.209902994920235 25.41987555688496 A 15 15 0 0 1 14.999999999999996 0 L 15 15"
                                                        fill="#ccc"></path>
                                                </svg>
                                            </td>
                                            <td>50%</td>
                                            <td>14.09.2016</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <img class="img-fluid img-circle" src="/assets/images/avatar-4.png"
                                                    alt="User">
                                            </th>
                                            <td>Go on writing new post for Life Category
                                                <p><i class="icofont icofont-clock-time"></i>Created 20.09.2016</p>
                                            </td>
                                            <td>
                                                <span class="pie" style="display: none;">0.52/1.561</span><svg
                                                    class="peity" height="30" width="30">
                                                    <path
                                                        d="M 15.000000000000002 0 A 15 15 0 0 1 28.00043211809656 22.482564048691025 L 15 15"
                                                        fill="#2196F3"></path>
                                                    <path
                                                        d="M 28.00043211809656 22.482564048691025 A 15 15 0 1 1 14.999999999999996 0 L 15 15"
                                                        fill="#ccc"></path>
                                                </svg>
                                            </td>
                                            <td>70%</td>
                                            <td>20.09.2018</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <img class="img-fluid img-circle" src="/assets/images/avatar-2.png"
                                                    alt="User">
                                            </th>
                                            <td>Editing post in Business Category
                                                <p><i class="icofont icofont-clock-time"></i>Created 14.9.2016</p>
                                            </td>
                                            <td>
                                                <span class="pie" style="display: none;">226,134</span><svg
                                                    class="peity" height="30" width="30">
                                                    <path
                                                        d="M 15.000000000000002 0 A 15 15 0 1 1 4.209902994920235 25.41987555688496 L 15 15"
                                                        fill="#2196F3"></path>
                                                    <path
                                                        d="M 4.209902994920235 25.41987555688496 A 15 15 0 0 1 14.999999999999996 0 L 15 15"
                                                        fill="#ccc"></path>
                                                </svg>
                                            </td>
                                            <td>50%</td>
                                            <td>14.09.2016</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <img class="img-fluid img-circle" src="/assets/images/avatar-2.png"
                                                    alt="User">
                                            </th>
                                            <td>Editing post in Business Category
                                                <p><i class="icofont icofont-clock-time"></i>Created 14.9.2016</p>
                                            </td>
                                            <td>
                                                <span class="pie" style="display: none;">226,134</span><svg
                                                    class="peity" height="30" width="30">
                                                    <path
                                                        d="M 15.000000000000002 0 A 15 15 0 1 1 4.209902994920235 25.41987555688496 L 15 15"
                                                        fill="#2196F3"></path>
                                                    <path
                                                        d="M 4.209902994920235 25.41987555688496 A 15 15 0 0 1 14.999999999999996 0 L 15 15"
                                                        fill="#ccc"></path>
                                                </svg>
                                            </td>
                                            <td>50%</td>
                                            <td>14.09.2016</td>
                                        </tr>
                                       <tr>
                                            <th>
                                                <img class="img-fluid img-circle" src="/assets/images/avatar-2.png"
                                                    alt="User">
                                            </th>
                                            <td>Editing post in Business Category
                                                <p><i class="icofont icofont-clock-time"></i>Created 14.9.2016</p>
                                            </td>
                                            <td>
                                                <span class="pie" style="display: none;">226,134</span><svg
                                                    class="peity" height="30" width="30">
                                                    <path
                                                        d="M 15.000000000000002 0 A 15 15 0 1 1 4.209902994920235 25.41987555688496 L 15 15"
                                                        fill="#2196F3"></path>
                                                    <path
                                                        d="M 4.209902994920235 25.41987555688496 A 15 15 0 0 1 14.999999999999996 0 L 15 15"
                                                        fill="#ccc"></path>
                                                </svg>
                                            </td>
                                            <td>50%</td>
                                            <td>14.09.2016</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <img class="img-fluid img-circle" src="/assets/images/avatar-2.png"
                                                    alt="User">
                                            </th>
                                            <td>Editing post in Business Category
                                                <p><i class="icofont icofont-clock-time"></i>Created 14.9.2016</p>
                                            </td>
                                            <td>
                                                <span class="pie" style="display: none;">226,134</span><svg
                                                    class="peity" height="30" width="30">
                                                    <path
                                                        d="M 15.000000000000002 0 A 15 15 0 1 1 4.209902994920235 25.41987555688496 L 15 15"
                                                        fill="#2196F3"></path>
                                                    <path
                                                        d="M 4.209902994920235 25.41987555688496 A 15 15 0 0 1 14.999999999999996 0 L 15 15"
                                                        fill="#ccc"></path>
                                                </svg>
                                            </td>
                                            <td>50%</td>
                                            <td>14.09.2016</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card">
                        <div class="user-block-2">
                            <img class="img-fluid" src="/assets/images/widget/user-1.png" alt="user-header">
                            <h5>Vu Bui</h5>
                            <h6>Writer</h6>
                        </div>
                        <div class="card-block">
                            <div class="user-block-2-activities">
                                <div class="user-block-2-active">
                                    <i class="icofont icofont-clock-time"></i> Recent Activities
                                    <label class="label label-primary">480</label>
                                </div>
                            </div>
                            <div class="user-block-2-activities">
                                <div class="user-block-2-active">
                                    <i class="icofont icofont-users"></i>Working Time
                                    <label class="label label-primary">39</label>
                                </div>
                            </div>

                            <div class="user-block-2-activities">
                                <div class="user-block-2-active">
                                    <i class="icofont icofont-ui-user"></i> Following
                                    <label class="label label-primary">5</label>
                                </div>

                            </div>
                            <div class="user-block-2-activities">
                                <div class="user-block-2-active">
                                    <i class="icofont icofont-picture"></i> Posts
                                    <label class="label label-primary">16</label>
                                </div>

                            </div>
                            <div class="text-center">
                                <button type="button"
                                    class="btn btn-warning waves-effect waves-light text-uppercase m-r-30">
                                    Follows
                                </button>
                                <button type="button" class="btn btn-primary waves-effect waves-light text-uppercase">
                                    Message
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2-1 block end -->
        </div>
        <!-- Main content ends -->
        <!-- Container-fluid ends -->
        
    </div>
</div>
{{else}}
<div><div class="error-404">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <!-- Row start -->
        <div class="row">
            <div class="text-uppercase col-xs-12">
                <h1>401</h1>
                <h5>Access denied!</h5>
                <p>oops!Please login to access to this page!</p>
                <a href="/account/login" class="btn btn-error btn-lg waves-effect">back to home page</a>
            </div>
        </div>
       
    </div>
    
</div> </div>
{{/if}}
<script src="/assets/plugins/jquery/dist/jquery.min.js"></script>
<script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/plugins/tether/dist/js/tether.min.js"></script>

<!-- Required Fremwork -->
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- waves effects.js -->
<script src="/assets/plugins/Waves/waves.min.js"></script>

<!-- Scrollbar JS-->
<script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="/assets/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

<!--classic JS-->
<script src="/assets/plugins/classie/classie.js"></script>

<!-- notification -->
<script src="/assets/plugins/notification/js/bootstrap-growl.min.js"></script>

<!-- Rickshaw Chart js -->
<script src="/assets/plugins/d3/d3.js"></script>
<script src="/assets/plugins/rickshaw/rickshaw.js"></script>

<!-- Sparkline charts -->
<script src="/assets/plugins/jquery-sparkline/dist/jquery.sparkline.js"></script>

<!-- Counter js  -->
<script src="/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/assets/plugins/countdown/js/jquery.counterup.js"></script>

<!-- custom js -->
<script type="text/javascript" src="/assets/js/main.min.js"></script>
<script type="text/javascript" src="/assets/pages/dashboard.js"></script>
<script type="text/javascript" src="/assets/pages/elements.js"></script>
<script src="/assets/js/menu.min.js"></script>

<script>
    var $window = $(window);
    var nav = $('.fixed-button');
    $window.scroll(function () {
        if ($window.scrollTop() >= 200) {
            nav.addClass('active');
        }
        else {
            nav.removeClass('active');
        }
    });
</script>