
<section class="login common-img-bg">
	<!-- Container-fluid starts -->
	<div class="container-fluid">
		<div class="row bg-white">
			<div class="login-card card-block">
				<form class="md-float-material">
					<div class="text-center">
						<img src="images/logo-black.png" alt="logo">
					</div>
					<h3 class="text-center txt-primary">Your session is locked</h3>
					<div class="imgs-screen text-center">
						<img src="/assets/images/lockscreen.png" class="img-circle" alt="lock">
					</div>
					<div class="md-group">
						<div class="md-input-wrapper">
							<input type="password" class="md-form-control md-static">
							<label>Password</label>
						</div>
					</div>
					<div class="unlock">
						<button type="button" class="btn btn-primary btn-md waves-effect waves-light text-center m-b-20">UNLOCK
						</button>
						<p class="f-24"><a href="forgot-password"> Forget Your Password?</a></p>
					</div>
				</form>
				<!-- end of form -->
			</div>
			<!-- end of login-card -->
		</div>
		<!-- end of row -->
	</div>
	<!-- end of container-fluid -->

	<!-- Warning Section Starts -->
	<!-- Older IE warning message -->
	<!--[if lt IE 9]>
	<div class="ie-warning">
		<h1>Warning!!</h1>
		<p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
		<div class="iew-container">
			<ul class="iew-download">
				<li>
					<a href="http://www.google.com/chrome/">
						<img src="/assets/images/browser/chrome.png" alt="Chrome">
						<div>Chrome</div>
					</a>
				</li>
				<li>
					<a href="https://www.mozilla.org/en-US/firefox/new/">
						<img src="/assets/images/browser/firefox.png" alt="Firefox">
						<div>Firefox</div>
					</a>
				</li>
				<li>
					<a href="http://www.opera.com">
						<img src="/assets/images/browser/opera.png" alt="Opera">
						<div>Opera</div>
					</a>
				</li>
				<li>
					<a href="https://www.apple.com/safari/">
						<img src="/assets/images/browser/safari.png" alt="Safari">
						<div>Safari</div>
					</a>
				</li>
				<li>
					<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
						<img src="/assets/images/browser/ie.png" alt="">
						<div>IE (9 & above)</div>
					</a>
				</li>
			</ul>
		</div>
		<p>Sorry for the inconvenience!</p>
	</div>
	<![endif]-->
	<!-- Warning Section Ends -->

</section>
<!-- Required Jqurey -->
<script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/plugins/tether/dist/js/tether.min.js"></script>
<!-- Required Fremwork -->
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- waves effects.js -->
<script src="/assets/plugins/Waves/waves.min.js"></script>
<!--text js-->
<script type="text/javascript" src="/assets/pages/elements.js"></script>



